RocketStore.Api/bin/Debug/netcoreapp2.0/RocketStore.Api.dll
RocketStore.Api/bin/Debug/netcoreapp2.0/RocketStore.Api.pdb
RocketStore.Api/bin/Debug/netcoreapp2.0/RocketStore.Api.deps.json
RocketStore.Api/bin/Debug/netcoreapp2.0/RocketStore.Api.runtimeconfig.json
RocketStore.Api/bin/Debug/netcoreapp2.0/RocketStore.Api.runtimeconfig.dev.json
RocketStore.Api/obj/RocketStore.Api.csproj.nuget.cache
RocketStore.Api/obj/RocketStore.Api.csproj.nuget.g.props
RocketStore.Api/obj/RocketStore.Api.csproj.nuget.g.targets
RocketStore.Api/obj/project.assets.json
RocketStore.Api/obj/Debug/netcoreapp2.0/RocketStore.Api.dll
RocketStore.Api/obj/Debug/netcoreapp2.0/RocketStore.Api.pdb
RocketStore.Api/obj/Debug/netcoreapp2.0/RocketStore.Api.AssemblyInfo.cs
RocketStore.Api/obj/Debug/netcoreapp2.0/RocketStore.Api.AssemblyInfoInputs.cache
RocketStore.Api/obj/Debug/netcoreapp2.0/RocketStore.Api.csproj.CoreCompileInputs.cache
RocketStore.Api/obj/Debug/netcoreapp2.0/RocketStore.Api.csproj.FileListAbsolute.txt
RocketStore.Api/obj/Debug/netcoreapp2.0/RocketStore.Api.csprojAssemblyReference.cache
RocketStore.Api/obj/Debug/netcoreapp2.0/RocketStore.Api.csprojAssemblyReference.cache
RocketStore.Domain/obj/RocketStore.Domain.csproj.nuget.cache
RocketStore.Domain/bin/Debug/netstandard2.0/RocketStore.Domain.dll
RocketStore.Domain/bin/Debug/netstandard2.0/RocketStore.Domain.pdb
RocketStore.Domain/bin/Debug/netstandard2.0/RocketStore.Domain.deps.json
RocketStore.Domain/obj/RocketStore.Domain.csproj.nuget.g.props
RocketStore.Domain/obj/RocketStore.Domain.csproj.nuget.g.targets
RocketStore.Domain/obj/project.assets.json
RocketStore.Domain/obj/Debug/netstandard2.0/RocketStore.Domain.dll
RocketStore.Domain/obj/Debug/netstandard2.0/RocketStore.Domain.pdb
RocketStore.Domain/obj/Debug/netstandard2.0/RocketStore.Domain.AssemblyInfo.cs
RocketStore.Domain/obj/Debug/netstandard2.0/RocketStore.Domain.AssemblyInfoInputs.cache
RocketStore.Domain/obj/Debug/netstandard2.0/RocketStore.Domain.csproj.CoreCompileInputs.cache
RocketStore.Domain/obj/Debug/netstandard2.0/RocketStore.Domain.csproj.FileListAbsolute.txt
RocketStore.Domain/obj/Debug/netstandard2.0/RocketStore.Domain.csprojAssemblyReference.cache
RocketStore.Infra/bin/Debug/netstandard2.0/RocketStore.Infra.deps.json
RocketStore.Infra/bin/Debug/netstandard2.0/RocketStore.Infra.dll
RocketStore.Infra/bin/Debug/netstandard2.0/RocketStore.Infra.pdb
RocketStore.Infra/obj/RocketStore.Infra.csproj.nuget.cache
RocketStore.Infra/obj/RocketStore.Infra.csproj.nuget.g.props
RocketStore.Infra/obj/RocketStore.Infra.csproj.nuget.g.targets
RocketStore.Infra/obj/project.assets.json
RocketStore.Infra/obj/Debug/netstandard2.0/RocketStore.Infra.pdb
RocketStore.Infra/obj/Debug/netstandard2.0/RocketStore.Infra.dll
RocketStore.Infra/obj/Debug/netstandard2.0/RocketStore.Infra.AssemblyInfo.cs
RocketStore.Infra/obj/Debug/netstandard2.0/RocketStore.Infra.AssemblyInfoInputs.cache
RocketStore.Infra/obj/Debug/netstandard2.0/RocketStore.Infra.csproj.CoreCompileInputs.cache
RocketStore.Infra/obj/Debug/netstandard2.0/RocketStore.Infra.csproj.FileListAbsolute.txt
RocketStore.Infra/obj/Debug/netstandard2.0/RocketStore.Infra.csprojAssemblyReference.cache
RocketStore.Shared/obj/RocketStore.Shared.csproj.nuget.cache
RocketStore.Shared/bin/Debug/netstandard2.0/RocketStore.Shared.dll
RocketStore.Shared/bin/Debug/netstandard2.0/RocketStore.Shared.pdb
RocketStore.Shared/bin/Debug/netstandard2.0/RocketStore.Shared.deps.json
RocketStore.Shared/obj/RocketStore.Shared.csproj.nuget.g.props
RocketStore.Shared/obj/RocketStore.Shared.csproj.nuget.g.targets
RocketStore.Shared/obj/project.assets.json
RocketStore.Shared/obj/Debug/netstandard2.0/RocketStore.Shared.dll
RocketStore.Shared/obj/Debug/netstandard2.0/RocketStore.Shared.pdb
RocketStore.Shared/obj/Debug/netstandard2.0/RocketStore.Shared.AssemblyInfo.cs
RocketStore.Shared/obj/Debug/netstandard2.0/RocketStore.Shared.AssemblyInfoInputs.cache
RocketStore.Shared/obj/Debug/netstandard2.0/RocketStore.Shared.csproj.CoreCompileInputs.cache
RocketStore.Shared/obj/Debug/netstandard2.0/RocketStore.Shared.csproj.FileListAbsolute.txt
RocketStore.Shared/obj/Debug/netstandard2.0/RocketStore.Shared.csprojAssemblyReference.cache
RocketStore.Tests/bin/Debug/netcoreapp2.0/RocketStore.Tests.deps.json
RocketStore.Tests/bin/Debug/netcoreapp2.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
RocketStore.Tests/bin/Debug/netcoreapp2.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
RocketStore.Tests/bin/Debug/netcoreapp2.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
RocketStore.Tests/bin/Debug/netcoreapp2.0/RocketStore.Tests.dll
RocketStore.Tests/bin/Debug/netcoreapp2.0/RocketStore.Tests.pdb
RocketStore.Tests/bin/Debug/netcoreapp2.0/RocketStore.Tests.runtimeconfig.json
RocketStore.Tests/bin/Debug/netcoreapp2.0/RocketStore.Tests.runtimeconfig.dev.json
RocketStore.Tests/obj/RocketStore.Tests.csproj.nuget.cache
RocketStore.Tests/obj/RocketStore.Tests.csproj.nuget.g.props
RocketStore.Tests/obj/RocketStore.Tests.csproj.nuget.g.targets
RocketStore.Tests/obj/project.assets.json
RocketStore.Tests/obj/Debug/netcoreapp2.0/RocketStore.Tests.dll
RocketStore.Tests/obj/Debug/netcoreapp2.0/RocketStore.Tests.pdb
RocketStore.Tests/obj/Debug/netcoreapp2.0/RocketStore.Tests.AssemblyInfo.cs
RocketStore.Tests/obj/Debug/netcoreapp2.0/RocketStore.Tests.AssemblyInfoInputs.cache
RocketStore.Tests/obj/Debug/netcoreapp2.0/RocketStore.Tests.Program.cs
RocketStore.Tests/obj/Debug/netcoreapp2.0/RocketStore.Tests.csproj.CoreCompileInputs.cache
RocketStore.Tests/obj/Debug/netcoreapp2.0/RocketStore.Tests.csproj.FileListAbsolute.txt
RocketStore.Tests/obj/Debug/netcoreapp2.0/RocketStore.Tests.csprojAssemblyReference.cache
