RocketStore.Api/bin/
RocketStore.Api/obj/
RocketStore.Domain/bin/
RocketStore.Domain/obj/
RocketStore.Infra/bin/
RocketStore.Infra/obj/
RocketStore.Shared/bin/
RocketStore.Shared/obj/
RocketStore.Tests/bin/
RocketStore.Tests/obj/